/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {

    .servies-box{
        display: grid;
        grid-template-columns: auto !important;
        padding: 0 10px !important;
    }
    .work-gallry{
        width: 100%;
        display: grid;
        grid-template-columns: auto !important;
        padding: 30px;
    }
    .gallry-container{
        width: 100%;
        margin: 0;
    }
    .footer-row-1{
        flex-direction: column;
        padding: 0 10px;
    }
    .col-footer-1{
        width: 100%;
    }
    .footer-row-3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sochal-media{
        margin-bottom: 20px;
    }

}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .right-col img{
        display: none;
    }
    .left-col{
        max-width: 100%;
    }
    .left-col p{
        width: 100%;
        margin-top: 20px;
    }
    .left-col h2{
        font-size: 22px;
    }
    .header-menu{
        display: none;
    }
    .responsive-web-numbers{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
    .responsive-box{
        margin-bottom: 10px;
    }
   
}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    
    .servies-box{
        display: grid;
        grid-template-columns:repeat(2,auto) ;
        padding: 0 100px;
    }
    .work-gallry{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 30px;
    }
    .gallry-container{
        width: 100%;
    }

}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
   
}




