/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    
    
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .navbar{
        padding-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
     .servies-container{
        flex-direction: column;
    } 
    .box{
        width: 80%;
    }
     div .circle{
        width: 30px;
        height: 50px;
    }
    .solutions-container{
        flex-direction: column;
        flex: 1;
    }
    .right-side{
        width: 100%;
    }
    .left-side{
        width: 100%;
    }
    .busuiness-content{
        flex-direction: column;
        align-items: center;
    }
    .busuiness-content article{
        max-width: 90%;
        margin-bottom: 10px;
    }
    .busuiness-content article img{
        width: 100% !important;
    }

    .blog-container{
        flex-direction: column;
    }
    .left-col{
        width: 100%;
    }
    .right-col{
        width: 100%;
    }

    .team-work-person{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .person-box{
        width: 70% !important;
    }

    .contactUs-container{
        flex-direction: column;
    }
    .left-section{
width: 100%;
    }
    .right-section{
width: 100%;
    }
    
    
}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    


}


/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {
    
}
@media (max-width:1201px){
    
}