*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}
a{
    text-decoration: none;
    transition: all 0.3s;
}

.d-flex{
    display: flex;
}
.row{
    width: 100%;
    display: flex;
}
/*----basic style------*/
header{
    background:url(../images/home/showcase.jpg) no-repeat center / cover;
    height: 100vh;
    position: relative;
   
}
header::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.header-container{
    position: relative;
    z-index: 10;
    text-align: center;
}
.navbar{
    justify-content: space-between;
    padding: 20px 30px;
    position: relative;
    top: 0px;
    width: 100%;
    height: 70px;
    position: fixed;
    transition: 0.5s;
    background-color: #333;
    opacity: 0.5;
}

.navbar h1{
    font-size: 2em;
    color: #fff;
}
.navbar h1 span{
    color: #28a745;
}
.header-menu{
    padding: 10px 0;
    list-style: none;
}

.header-menu li{
    padding: 0 20px;
}
.header-menu li a{
    color: #fff;
}
.header-menu li:hover{
    border-bottom: 3px solid #28a745;
     padding-bottom: 30px; 
    width: 100%;
}
/*---nav-bar---*/

.slider-text{
    color: #fff;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.slider-text h1{
    font-size: 55px;
    font-weight: 300;
}
.slider-text p{
    font-size: 23px;
    line-height: 4em;
}
.header-btn{
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 23px;
    font-size:20px;
}
/*---slider---*/
.servies{
    padding: 50px 0;
}
.servies-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30%;
}

 div .circle{
     margin: 0 auto;
     width: 40px;
     height: 60px;
    background-color: #28a745;
    border-radius: 50%;
    margin-bottom: -7px;  
} 
.box p{
    line-height:2.5em;
    margin-top: 15px;
    color: #333;

}


/*---sirvies---*/
.solutions-container{
    width: 100%;
}
.left-side{
    height: 100%;
    width: 50%;
}
.right-side{
    width: 50%;
    height: 100%;
    background-color: #28a745;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5em;
    padding: 30px;

}
.left-side img{
    width: 100%;
    height: 100%;

}

.right-side h2{
    font-size: 40px;
}
.right-side p{
    line-height:1.5em;
    margin: 10px 0;
}

.right-btn{
    border: 1px solid #fff;
    padding:5px 15px;
    color: #fff;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}
/*---solutions---*/

.busuiness{
    padding: 50px 0;
}
.busuiness-container{
    width: 100%;
}
.busuiness-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4em;
    text-align: center;
}
.busuiness-header h4{
    font-weight: 600;

}
.busuiness-header h2{
    font-size: 40px;
    font-weight: 300;
}
.busuiness-header p{
    color: #333;
}

.busuiness-content{
    flex-wrap: wrap;
    justify-content: center;
}
.busuiness-content article{
    max-width: 23%;
    margin-right: 10px;
    position: relative;

}
.busuiness-content article img{
    width: 100%;
}
 .busuiness-content article:hover:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
/*---busuiness---*/
.right-col{
    width: 50%;
}
.right-col img{
    width: 100%;
    height: 100%;
}
.left-col{
    width: 50%;
    flex-direction: column;
    background-color: #0284d0;
    color: #fff;
    justify-content: center;
    padding: 30px;
    line-height: 2.5em;
}
.left-col p{
    line-height: 1.5em;
    margin: 15px 0;
}
/*---blog---*/
.team-work{
    padding: 50px 0;
    flex-direction: column;
}

.team-work-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4em;
    text-align: center;
}
.team-work-header h4{
    font-weight: 600;

}
.team-work-header h2{
    font-size: 40px;
    font-weight: 300;
}
.team-work-header p{
    color: #333;
}
.person-box{
    text-align: center;
    margin-right: 15px;
    line-height: 2em;
}
.person-box img{
    width: 100%;
    border-radius: 50%;
}
/*---team-work---*/

.left-section{
    width: 50%;
    height: 100%;
}

.left-section img{
    width: 100%;
    height: 100%;
}
.right-section{
    width: 50%;
    background: #f4f4f4;
    color: #333;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
}
.right-section h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.form-contact{
    flex-direction: column;
    margin-bottom: 15px;
}
.form-contact input{
    width: 100%;
    height: 40px;
    padding: 5px;
    border: #f5f5f5 solid 1px;
    background-color: #fff;
    margin-bottom: 10px;
}
.form-contact input:focus{
    outline: 1px solid #28a745;
    border-radius: 5px;
}
.form-btn{
    background-color: #28a745;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
}
/*---contactUS---*/
footer{
    padding: 50px 0;
    background-color: #333;
}
footer p{
    color: #fff;
    text-align: center;
}