
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: glyphicons-halflings-regular;
    src: url(../fonts/glyphicons-halflings-regular.ttf);
}
@font-face {
    font-family: fontawesome-webfont;
    src: url(../fonts/fontawsem/fontawesome-webfont.ttf);
    src: url(../fonts/fontawsem/fontawesome-webfont.svg);
    src: url(../fonts/fontawsem/fontawesome-webfont.eot);
}
body{
    font-family: glyphicons, sans-serif;
    font-weight: 300;

}
i{
    font-family: fontawesome-webfont;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
/* img{
    width: 100;
    height: auto;
    overflow: hidden;
} */
.d-flex{
    display: flex;
}
.row{
    width: 100%;
    display: flex;
}
/*basic style*/

.header-container{
    background:linear-gradient(rgba(255,255,255,0.1),#f5f5f5),
     url(../img/hero.jpg) no-repeat center/cover;
    height: 100vh;
}
.navbar{
    justify-content: space-around;
    padding-top: 50px;
}
.navbar h1 span{
    font-weight: 300;
}

.header-menu li{
    list-style: none;
    margin-right: 15px;
}
.header-menu li a{
    color: #26272d;
}
.active{
    color: #6fc754;
}
.slider{
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 5em;
    text-align: center;
}
.slider h1{
    font-weight: 300;
    font-size: 55px;
}
.slider p{
    font-size: 20px;
}
.btn{
    font-weight: 100;
    font-size: 18px;
    padding:15px 53px;
    border-radius:50px;
}
.btn-border{
    background:none;
    border: 1px solid black;
}
/*header*/
.responsive{
    padding: 100px 0;
    justify-content: center;
}
.responsive-container{
    width: 80%;
    justify-content: center;
    
}

.left-col{
    max-width: 50%;
    height: 100%;
}
.left-col h2{
    font-weight: 300;
    font-size: 30px;
}
.left-col p{
    width: 75%;
    line-height: 1.5em;
    font-size: 14px;
    color: #9fa3a7;
    margin-top: 50px;

}
.right-col{
    margin-left: 0;
    width: 50%;
}
.right-col img{
    width: 100%;
    height: 100%;
}
/*responsive*/
.srevies-container{
    padding: 100px 0;
    background-color: #f5f5f8;
    text-align: center;
}
.servies-header{
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
.servies-heading{
    position: relative;
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;

}
.servies-header p{
    font-style: italic;
    color: #9fa3a7;
    margin-bottom: 60px;
}
.servies-heading::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #267df4;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    
}
.servies-contact{
    justify-content: center;
    align-items: center;
}

.servies-box{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 200px;    
}
.box{
    margin:0 20px 50px 0;
}
.box h3{
    color: #26292c;
    margin: 35px 0 25px;
    font-size: 13px;
}
.box p{
    font-size: 13px;
    color: #9fa3a7;
    line-height: 22px;
}
/*--servies--*/

.responsive-web-container{
    padding:200px 0 100px 0;
    background: #071021 url(../img/map.png) no-repeat top center / cover;
    color: #fff;
    flex-direction: column;
    text-align: center;

}
.responsive-web-header{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responsive-web-header h2{
    font-size: 45px;
    font-weight: 300;
}
.responsive-web-header p{
    line-height: 6em;
    font-size: 14px;
}
.responsive-web-btn{
    background-color: #267df4;
    color: #fff;
    font-size: 16px;
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    margin-bottom: 100px;
}
.responsive-web-numbers{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.responsive-box p{
    font-size: 37px;
    margin-bottom: 20px;
}
.responsive-box h3{
    color: #0960d7;
    font-size: 16px;
    font-weight: 500;
}
/*--responsive-web--*/
.work-container{
    flex-direction: column;
    padding: 100px 0 200px 0;
    text-align: center;

}
.work-header{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-header h2{
    font-size: 42px;
    font-weight: 300;
    position: relative;
    

}
.work-heading::after{
    margin: 0 auto;
    content: '';
    position: absolute;
    bottom: -17px;
    width: 50px;
    height: 2px;
    background-color: #267df4;
    left: 40%;
    right: 50%;
    z-index: 1;
}
.work-header p{
    padding: 30px 0;
    font-size: 20px;
    font-style: italic;
    color: #9fa3a7;
    font-weight: 300;
}
.work-gallry{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px;
}
.gallry-container{
    width: 23.33333333%;
    
}
.gallry-item{
    height: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;


    
}
.img-res{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}
.gallry-item h4{
    position: absolute;  
    top: 0; 
    opacity: 0;
    transition: 0.7s ease-in-out;

}
.gallry-item::after{
    content: '';
    width: 0px;
    height: 100%;
    background-color: #f5f5f8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.gallry-item:hover::after{
    width: 230px;
    right: 25%;

}
.gallry-container:hover .gallry-item h4{
    opacity: 1;
    z-index: 100;
    left: 14px;
    top: 20px;
}
.gallry-item a{
    position: absolute;
    bottom: 20px;
    left: 30px;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 30px; 
    display: none;   
}
.gallry-container:hover .gallry-item a{
    z-index: 10;
    display: block;
    transition: 0.7s ease-in-out;

}
/*--work--*/
.subscribe{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;

}
.subscribe-container{
    flex-direction: column;
    
}
.subscribe-container h2{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;

}
.subscribe-form{
    width: 100%;
}
.subscribe-form input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
     border: 1px solid #f5f5f8;
    background-color: #fff;
    outline: 0;
    padding-left: 30px;
}
.subscribe-btn{
    border-radius: 50px;
    padding:0 30px;
    border: none;
    background-color: #6fc754;
    color: #fff;
    font-size: 14px;
    margin-left: -130px;
}
/*--subscribe--*/

.footer-container{
    background-color: #f5f5f8;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-direction: column;
}
.footer-row-1{
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.col-footer-1{
    width: 20%;

}
.col-footer-1 a{
    font-size: 18px;
    color: #26272d;
}
.col-footer-1 p{
    width: 100%;
    color: #9fa3a7;
    line-height: 22px;
    font-size: 14px;
    margin: 20px 0;
}
.col-footer-2{
    color: #26292c;
}
.col-footer-2 h3{
    margin-bottom: 30px;
}
.footer-menu li{
    list-style: none;
}
.footer-menu li a{
    color: #8c8f94;
    line-height: 2em;
}
.col-footer-3 h3{
    margin-bottom: 30px;
}
.footer-line{
    position: relative;
    margin: 100px 0 50px 0;

}
.footer-line::after{
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid rgba(38, 41, 44, 0.05);
}

.footer-row-3{
    justify-content: space-around;
}
.sochal-media{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.sochal-media p{
    margin-right: 10px;
    border: 1px solid #0960d7;
    border-radius: 50px;
    padding: 8px 10px;

}
.right-text p{
    font-size: 12px;
    margin-bottom: 10px;
}
